{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
{% endblock %}

{% block content_title %}
    <h1>{{ context_title }}</h1>
{% endblock %}

{% block content %}
{#        这个前端css样式真的吐了...页面本身css和bootstrap各种冲突...凑合用用 把功能实现了再说 #}
       <form class="form-horizontal" novalidate method="post">
       {% csrf_token %}
        {% for field in form_obj %}
                 <div class="form-group">
                <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-6">
                    {{ field }}
                </div>
                 <div class="col-sm-4">
                    <span style="color: red;">{{ field.errors }}</span>
                </div>
              </div>
        {% endfor %}



  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
</form>





{% endblock %}