{% extends 'base.html' %}

{% block content %}



    <form class="form-inline pull-right" style="margin-bottom: 10px" method="get">
    <select class="form-control" name="search_field" >
       <option value="">选择搜索字段</option>
        {% if search_field == 'qq' %}
             <option value="qq" selected>QQ</option>
             <option value="name">客户名称</option>
            {% elif search_field == 'name' %}
            <option value="qq" >QQ</option>
             <option value="name" selected>客户名称</option>
            {% else %}
             <option value="qq" >QQ</option>
             <option value="name">客户名称</option>
        {% endif %}
</select>
        <span>&nbsp;</span>
  <div class="form-group">
    <input name='kw' class="form-control"  placeholder="输入搜索条件" value="{{ kw }}">
  </div>
  <button type="submit" class="btn btn-default">搜索</button>
</form>


     <form  action="" style="margin-bottom: 10px;" method="post">
     {% csrf_token %}
        <div class="form-inline pull-left">
            <select class="form-control" name="options" >
            <option >选择操作</option>
                {% if content_title == '所有公户' %}
                    <option value="reverse_gs" >公户转私户</option>
                    {% else %}
                         <option value="reverse_sg">私户转公户</option>
                {% endif %}
</select>&nbsp;
    <button class="btn btn-danger">GO</button>&nbsp;
     <a href="{% url 'add_customer' %}"><button type="button" class=" btn btn-primary">添加客户</button></a>
        </div>


<table class="table table-striped  table-hover ">

    <tr class="active">
        <th><input type="checkbox" id="select_all"> 序号</th>
        <th>QQ</th>
        <th>客户名称</th>
        <th>性别</th>
        <th>报名状态</th>
        <th>销售</th>
        <th>操作</th>
    </tr>
    {% for customer_obj in customers_obj %}
        <tr class="active">
            <td><input type="checkbox" name="cids" value="{{ customer_obj.pk }}" > {{ forloop.counter }}</td>
            <td>{{ customer_obj.qq }}</td>
            <td>{{ customer_obj.name }}</td>
            <td>{{ customer_obj.get_sex_display }}</td>
            <td>{{ customer_obj.get_status_show }}</td>
            <td>{{ customer_obj.consultant }}</td>
            <td><li class="fa fa-edit"><a href="{% url 'edit_customer' customer_obj.pk %}">编辑</a></li></td>
        </tr>
    {% endfor %}

</table>

    {{ pagination }}
          </form>
   {% comment %} <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="/customers?page=1" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for foo in page_range %}
    <li><a href="/customers?page={{ foo }}">{{ foo }}</a></li>
    {% endfor %}
    
    <li>
      <a href="/customers?page={{ last }}" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>{% endcomment %}

{% endblock %}


{% block script %}
    <script>
        {#让checkbox反选#}
        $('#select_all').on('click',function () {
            for(i=0; i<$(':checkbox[name="cids"]').length; i++){
                if(jQuery($(':checkbox[name="cids"]')[i]).prop('checked')){
                    console.log('test');
                    jQuery($(':checkbox[name="cids"]')[i]).prop('checked', false);
                }else{
                    jQuery($(':checkbox[name="cids"]')[i]).prop('checked', true);
                }
            }
        })
    </script>
{% endblock %}